mixin book(spec)
	- spec = spec || {}
	- spec.__class = spec.__class || ''

	.paging-controls.mobile-paging-controls
		button.styless-btn.page-prev #[i.fa.fa-arrow-up] Previous
		button.styless-btn.page-next Next #[i.fa.fa-arrow-down]
	.book
		.page#1
			h3 Section 1
		.page#2
			p
				| Section 1 description - Cred YOLO hoodie pitchfork, kitsch food truck brooklyn tote bag vice single-origin coffee. Letterpress celiac pop-up, selfies artisan street art vinyl VHS readymade pug poutine retro. Kinfolk DIY distillery synth mumblecore squid. Raw denim venmo plaid, dreamcatcher selvage cliche heirloom kogi craft beer typewriter meditation. Fashion axe gastropub before they sold out bitters. Venmo vinyl artisan everyday carry keytar master cleanse, YOLO mlkshk tumblr. 90's small batch schlitz, blue bottle flannel selvage literally kale chips gastropub.
		.page#3
			h3 Section 2
		.page#4
			p
				| Section 2 description - Roof party kale chips bitters, migas shoreditch beard pinterest offal viral street art everyday carry. Kale chips pinterest biodiesel readymade, humblebrag helvetica paleo trust fund PBR&B leggings hammock cliche microdosing. Etsy mlkshk jean shorts, PBR&B farm-to-table iPhone neutra migas pour-over. Viral kale chips lomo, chartreuse ugh 8-bit keytar next level deep v whatever normcore. Chartreuse try-hard master cleanse fingerstache 90's. Trust fund poutine ugh, leggings pinterest wolf truffaut 8-bit quinoa craft beer ennui butcher humblebrag. Scenester direct trade dreamcatcher forage.
		.page#5
			h3 Section 3
		.page#6
			p
				| Section 3 description - Roof party kale chips bitters, migas shoreditch beard pinterest offal viral street art everyday carry. Kale chips pinterest biodiesel readymade, humblebrag helvetica paleo trust fund PBR&B leggings hammock cliche microdosing. Etsy mlkshk jean shorts, PBR&B farm-to-table iPhone neutra migas pour-over. Viral kale chips lomo, chartreuse ugh 8-bit keytar next level deep v whatever normcore. Chartreuse try-hard master cleanse fingerstache 90's. Trust fund poutine ugh, leggings pinterest wolf truffaut 8-bit quinoa craft beer ennui butcher humblebrag. Scenester direct trade dreamcatcher forage.
	.paging-controls.desktop-paging-controls
			button.page-prev #[i.fa.fa-arrow-left] Previous
			button.page-next Next #[i.fa.fa-arrow-right]
			.clear

