mixin book(spec)
	- spec = spec || {}
	- spec.__class = spec.__class || ''

	.paging-controls.mobile-paging-controls
		button.styless-btn.page-prev #[i.fa.fa-arrow-left] Previous
		button.styless-btn.page-next Next #[i.fa.fa-arrow-right]
	.book
		.book-inner
			.page#1
				h3 "You need to meet..."
			.page#2
				p
					| One night, Marc, Josh's friend from MSOE, and Jenna, Marc's girlfriend and also Erin's roommate from Northwestern, came up to Milwaukee to have dinner with some of Marc's college friends. While at dinner, Marc and Jenna started noticing similarities between Erin and Josh. They decided that Erin and Josh had to meet each other. At first, Josh was hesitant about being set up, but, later that night, he jumped on board with the idea after Marc and Jenna showed him Erin's facebook, and he saw Erin's interests and all her pretty pictures. After more talk about this, the three of them became really excited about this potential perfect pair.
				p
					| Later that weekend, Marc and Jenna went home, and shared with Erin their excitement about pairing up her and her dashing software enginner in shining armor from Milwaukee. Wanting a longer fairytale story, and also wanting to keep her head above water during her first year of PT school, the damsel in distress wanted nothing to do with the handsome bachelor. But, Jenna would not let the story end here. While Erin fought to keep her nose in the books during her first year, Jenna pushed on.
			.page#3
				.spongebob
					h3 7 months later...
			.page#4
				p
					| After Erin finished her finals, and with a little help from seeing some handsome facebook photos, she finally gave Marc permission to give Josh her phone number. Twenty four hours and much anxiety later, Josh texted Erin and began planning their first date a week later. Without hesitation, Josh agreed to a double date with Marc and Jenna for dinner and a game night with all of her PT school friends. They had so much fun together that her friends thought they had been dating for many months already!
				p
					| As Marc ushered home the excited matchmaker, Jenna, Josh and Erin said their goodbyes. Butterflies galore, Josh hugged Erin, and romantically stated, "Yeah, I'm definitely going to text you later." They then left each other, and Erin anxiously aweaited her next conversation with this wooer.
			.page#5
				h3 Open your eyes
			.page#6
				p
					| A few weeks later, Jenna invited Erin and Josh to an outdoor Greek Fest that is famously attended by her 90 year old YiaYia (grandma). The two sat with Jenna, her family, and Marc during dinner. After much conversation, it was obvious that YiaYia was smitten by Josh. She asked him to dance, and taught him (as best she could) how the Greeks dance. But then, a huge rainstorm interrupted the party. Before Marc escorted YiaYia safetly to her car, she turned to Erin, gestured her to come close and whispered, "Open your eyes, dear. That's a good one". As she left, Erin thought about how she had already agreed with her, and was excited YiaYia saw something, too.
				p
					| Erin, Josh, Marc, and Jenna then ran back to their cars. Marc and Jenna led the way, and Josh and Erin followed just behind. After enough thought, Josh reached his hand over to Erin, and the two ran on hand in hand in the rain. The four of them got to their cars, and drove back to Jenna's house. When it was time to go, Erin and Josh left together. Standing outside Erin's car, they reflected on the night, and talked with growing excitement. That's when Josh asked her to be his girlfriend, and she happily said yes.
			.page#7
				h3 Why don't we just dance?
			.page#8
				p
					| A month and a half later, Josh went over to Erin's house for a big weekend of activities. The weekend started with a big bonfire with Marc and Jenna, Erin's friends from Olivet, and Erin's friends from Northwestern. That night, Erin's relationship security force, consisting of Lance, Wes, and Kyan, interrogated Josh as the two parties met each other for the first time. Thankfully, they deemed it safe for Erin to continue on with the relationship. The next night, Erin and Josh, Marc and Jenna, and her friends, Kim and John, went line dancing in rural Indiana. Erin was a pro. Josh had no idea what he was doing, but he gave it his best shot.
				p
					| After a long night of trying to dance inside the lines, Marc, Jenna, Erin and Josh set up camp for the night in the living room of Erin's house. Josh and Erin whispered to each other after they were confident Marc and Jenna had fallen asleep. Josh wanted to say "I love you", but was hesitant. That is, until Erin said, "I really like you". Feeling she felt the same way, Josh dropped the L bomb for the first time, and she responded, "I love you, too".
			.page#9
				h3 Off into the sunset
			.page#10
				p
					| After finally accomplishing graduation from PT school with her doctorate in April, Erin and Josh could see their future together becoming more and more clear. The day before Erin's birthday, Josh had told her to clear her schedule for the whole weekend. Thinking it was birthday celebration/graduation plans, Erin couldn't wait to she what Josh had in store. They first went to Erin's favorite restaurant, close to her home, for dinner. On the way back to her house, Josh said that they should end the night sitting on the front porch overlooking the countryside (which is Erin's favorite spot), and watch the sun set. Erin threw a wrench in his plans though because she had leftovers to bring in, even though Josh's parents were waiting at her house with her parents. But Josh was able to gentlemanly take her food and send her to the porch ahead of him.
				p
					| After some reflection on their love for each other, Josh got on one knee and asked Erin to marry him. Shocked and surprised, Erin first responded, "What?", and then, "YES!". Their parents then emerged from hiding, and with pictures, champagne, and chocolates, they celebrated the happy engagement.
	.paging-controls.desktop-paging-controls
			button.page-prev #[i.fa.fa-arrow-left] Previous
			button.page-next Next #[i.fa.fa-arrow-right]
			.clear

