button {
	background-color: @peach;
	color: @white;
	border: none;
	padding: 10px 20px;
	&.styless-btn {
		background-color: transparent;
		color: @peach;
		padding: 0;
	}
}

input {
	border: 2px solid @peach;
	padding: 10px;
	text-align: center;
	width: 100%;
	color: @blackish;
}

input[type="checkbox"] {
	width: auto;
	display: none;
	+label::before {
		font-family: FontAwesome;
		display: inline-block;
		content: "";
		width: 1.1em;
		height: 1.1em;
		margin-right: 10px;
		border-radius: 2px;
		border: 1px solid @peach;
		font-size: @large-font;
		color: @peach;
		background-color: @white;
		vertical-align: middle;
	}
	&:checked + label::before {
		content: '\f00c';
		background-color: @white;
		color: @peach;
	}
}
