@large-phone-min: 640px;
@tablet-min: 768px;
@desktop-min: 990px;

@tablet-container: 748px;
@desktop-container: 960px;

@gutter-width: 20px;

@peach: #ff8e7d;
@light-peach: #f9dcd8;
@navy: #020c27;
@white: #ffffff;
@navy-peach: #9c5c53;
@black-peach: #AD8882;
@blackish: #020c27;
@gray: #e3e3e3;
@light-gray: #fdfdfd;

@small-font: .8em;
@large-font: 1.2em;

@content-font: "Arbutus Slab", "Palatino Linotype", "Book Antiqua", Palatino, serif;
@fancy-label-font: "Montserrat";
