include ../link/link
mixin nav-element(spec)
	- spec = spec || {}
	- spec.class = spec.class || ''

	li.nav-element&attributes(attributes)
		if spec.first != true
			.border
		if spec.type == 'section-link'
			+link(spec.content)
		else if spec.type == 'text'
			h1 J#[span.ampersand &amp;]E

