mixin nav(spec)
	- spec = spec || {}
	- spec.__class = spec.__class || ''

	nav
		div.nav-list-outter
			ul.nav-list
				+nav-element({type: 'section-link', content: {section: '#our-story', text: 'OUR STORY' }, first: true})
				+nav-element({type: 'section-link', content: {section: '#venue', text: 'VENUE'}})
				+nav-element({type: 'text'})(class="logo")
				+nav-element({type: 'section-link', content: {section: '#registry', text: 'REGISTRY'}})
				+nav-element({type: 'section-link', content: {section: '#rsvp', text: 'RSVP'}})
		h1.logo.mobile-logo J#[span.ampersand &amp;]E
		div.nav-control
			i(class="fa fa-angle-down fa-2x")

