mixin nav(spec)
	- spec = spec || {}
	- spec.__class = spec.__class || ''

	nav
		div.nav-list-outter
			ul.nav-list
				+nav-element({type: 'section-link', content: {section: '#our-story', text: 'Our Story' }})
				+nav-element({type: 'section-link', content: {section: '#venue', text: 'Venue'}})
				+nav-element({type: 'image', content: {src: 'je.png'}})(class='logo')
				+nav-element({type: 'section-link', content: {section: '#registry', text: 'Registry'}})
				+nav-element({type: 'section-link', content: {section: '#rsvp', text: 'RSVP'}})
		div.mobile-logo
			| J&E
		div.nav-control
			i(class="fa fa-angle-down fa-2x")

