// nav styles
nav {
	width: 100%;
	text-align: center;
	min-height: 50px;
	background: @white;
	border-bottom: 1px solid @gray;
	position:fixed;
	z-index: 10;
	.nav-list-outter {
		display: none;
		.nav-list {
			height: 100%;
			list-style: none;
			margin: 0;
			padding: 0;
			.nav-element {
				align-self: center;
			}
			.logo {
				display: none;
				margin: 0;
				h1 {
					margin: 0;
				}
				.ampersand {
					color: @peach;
				}
				text-shadow: -3px 1px @light-gray;
			}
		}
	}
	.nav-control {
		display: inline-block;
		position: absolute;
		top: 18px;
		right: 18px;
		cursor: pointer;
		i {
			vertical-align: top;
			color: @blackish;
			line-height: 0.5;
		}
	}
	.mobile-logo {
		text-shadow: -3px 1px @light-gray;
		margin: 0px;
		line-height: 50px;
		.ampersand {
			color: @peach;
		}
	}
	a {
		text-decoration: none;
		letter-spacing: .4em;
		font-size: @smaller-font;
		color: @blackish;
	}
}


@media screen and (min-width: @tablet-min) {

	nav {
		.nav-list-outter {
			display: block;
			.nav-list {
				display: flex;
				justify-content: center;
				.logo {
					display: inline-block;
				}
			}
		}
		.nav-control {
			display: none;
		}
	}
	.mobile-logo {
		display: none;
	}
}
