extends _layouts/base

include _modules/link/link
include _modules/nav/nav
include _modules/section/section
include _modules/nav-element/nav-element
include _modules/book/book
include _modules/rsvp/rsvp
include _modules/logistic-piece/logistic-piece

block content
	+nav()
	.container
		section#our-story
			.img-container
				.heading
					span.fancy-label-font the wedding of
					h1.black-peach-shadow Josh#[span.hero-amp &]Erin
					span.fancy-label-font April 2nd, 2016
					.arrows
						.fa.fa-caret-down
						.fa.fa-caret-down
						.fa.fa-caret-down
				div.delayed-image-load(data-src="images/img-1-{width}{pixel_ratio}.jpg")
			.header-container
				h1.light-peach-shadow OUR#[br/]STORY
			+book()
			.colored-flowers
		section#venue
			.header-container
				h1.light-peach-shadow THE#[br/]VENUE
			.logistics-container
				+logistic-piece({title: 'Ceremony', content: [
					{time: '4:30 PM', location: 'Old Central Church', addressLine1: '15 S. Richards Street', addressLine2: 'Joliet, IL 60433'},
					]})
				+logistic-piece({title: 'Reception', content: [
					{time: '5:30 PM', location: 'Victorian Ballroom', addressLine1: '15 S. Richards Street', addressLine2: 'Joliet, IL 60433'}
					]})
				+logistic-piece({title: 'Hotels', content: [
					{time: 'Overnight', location: 'Old Central Church', addressLine1: '15 Richards Street', addressLine2: 'Joliet, IL 60433'}
					]})
				+logistic-piece({title: 'Hotels', content: [
					{time: 'Overnight', location: 'Old Central Church', addressLine1: '15 Richards Street', addressLine2: 'Joliet, IL 60433'}
					]})
		section#registry
		section#rsvp
			+rsvp()

