// rsvp styles
.rsvp-header {
	color: white;
	text-shadow: -5px 2px @navy-peach;
}
.rsvp-container {
	position: relative;
	background: linear-gradient(to right, rgba(255,255,255,0) 0%, @navy 15%, @navy 85%, rgba(255,255,255,0) 100%);
	@media screen and (min-width: @large-phone-min) {
		background: linear-gradient(to right, rgba(255,255,255,0) 10%, @navy 25%, @navy 75%, rgba(255,255,255,0) 90%);
	}
	@media screen and (min-width: @tablet-min) {
		background: linear-gradient(to right, rgba(255,255,255,0) 10%, @navy 35%, @navy 65%, rgba(255,255,255,0) 90%);
	}
	width: 100%;
	.rsvp-outer {
		display: inline-block;
		width: 100%;
		max-width: 300px;
		height: 100%;
		text-align: left;
		overflow: hidden;
		perspective: 800px;
		margin: 0 auto;
		.rsvp-inner {
			width: 100%;
			min-height: 300px;
			position: relative;
			transition: transform 0.5s;
			transform-style: preserve-3d;
			transition: transform 1s;
			transform-origin: right center;
			#firstPage {
				padding: 0px 20px;
				position: absolute;
				text-align: center;
				width: 100%;
				height: 100%;
				display: inline-block;
				backface-visibility: hidden;
				background-color: @navy;
				button {
					width: 50%;
					margin: 0 auto;
				}
			}
			#secondPage {
				position: absolute;
				width: 100%;
				height: 100%;
				display: inline-block;
				background-color: @navy;
				color: @white;
				backface-visibility: hidden;
				transform: rotateY(180deg);
				padding: 0px 20px;
				button {
					margin-top: 5px;
					width: 100%;
				}
				.sub-text-field {
					margin-left: 20px;
				}
				.guest-info {
					padding-left: 40px;
					p {
						line-height: 1em;
						&.sub-label {
							color: @peach;
						}
					}
				}
				#rsvpGreeting {
					text-align: center;
					text-transform: capitalize;
				}
				.border {
					height:2px;
					width: 100%;
					transform: scaleX(0.5);
					background-color: @peach;
				}
			}
			&.flipped {
				transform: translateX(-100%) rotateY(-180deg);
			}
		}
	}
}
