// rsvp styles
.rsvp-container {
	width: 300px;
	text-align: left;
	overflow: hidden;
	.rsvp-inner {
		width: 200%;
		transition: transform 0.5s;
		#first-page {
			margin-right: -5px;
			text-align: center;
			width: 50%;
			background-color: green;
			display: inline-block;
		}
		#second-page {
			text-align: center;
			width: 50%;
			display: inline-block;
			background-color: red;
		}
	}
}
