mixin rsvp(spec)
	- spec = spec || {}
	- spec.__class = spec.__class || ''

	.rsvp-container
		.rsvp-outer
			.header-container
				h1.rsvp-header RSVP
				p
					| Enter your first and last name as they appear on your invitation to view your personalized response card
			.rsvp-inner
				#firstPage
					form(id="fetch-name" name="fetchName")
						p.first-name
							input(id="firstName" type="text" name="firstName" placeholder="First Name")
						p.last-name
							input(type="text" id="lastName" name="lastName" placeholder="Last Name")
						p.submit-container
							button VIEW RESPONSE CARD
				#secondPage
					h2#rsvpGreeting Hello&nbsp;
						span#rsvpGreetingName
					.border
					form(name="submitRsvp" action="thanks-a-bunch" netlify)
						input(type="hidden" id="name" name="name" value="")
						p
							input(type="radio" name="attending" value="no" id="notAttending")
							label(for="notAttending") Decline with regret
						p
							input(type="radio" name="attending" value="yes" id="attending")
							label(for="attending") Accept with excitement
						.family
							p.sub-text-field
								input(type="number" id="numInParty" name="numInParty" placeholder="Number attending in party" data-required-if="attending,yes")
							p
						.plus-one
							.guest-info
								p
									input(type="radio" name="guest" value="no" id="noGuest" data-required-if="attending,yes" data-error-container="error-container")
									label(for="noGuest") Won't be bringing a guest
								p
									input(type="radio" name="guest" value="yes" id="yesGuest")
									label(for="yesGuest") Will be bringing a guest
								p.sub-text-field
									input(type="text" id="guestName" name="guestName" placeholder="Name of guest")
						.couples
							.guest-info
								p.sub-label Please check who will be attending:
								p(data-input-type="couple")
									input(type="hidden" name="person1" value="yes")
									input(type="checkbox" name="person1Attending" value="attending" data-required-if="attending,yes" data-error-container="error-container")
									label(for="" class="couple-name")
										span.guestName
								p(data-input-type="couple")
									input(type="hidden" name="person2" value="yes")
									input(type="checkbox" name="person2Attending" value="attending")
									label(for="" class="couple-name")
										span.guestName
						button SUBMIT RSVP
					#error-container

