mixin rsvp(spec)
	- spec = spec || {}
	- spec.__class = spec.__class || ''

	.rsvp-container
		.rsvp-outer
			.header-container
				h1.rsvp-header RSVP
			.rsvp-inner
				#firstPage
					form(id="fetch-name" name="fetchName")
						p.first-name
							input(id="firstName" type="text" name="firstName" placeholder="First Name")
						p.last-name
							input(type="text" id="lastName" name="lastName" placeholder="Last Name")
						p.submit-container
							button Next
				#secondPage
					h2#rsvpGreeting Hello&nbsp;
						span#rsvpGreetingName
					.border
					form(name="submitRsvp" action="thank-you" netlify)
					#error-container
					form(name="contact" action="thank-you" netlify)
						p
							label Your Name:
							input(type="text" name="name")
						p
							label Your Email
							input(type="email" name="email")
						p
							label Message
							textarea(name="message")
						p
							<button>Send

